@using PEngine.Core.Shared.Models
@using PEngine.Core.Shared
@using PEngine.Core.Web.Models
@using PEngine.Core.Web
@using PEngine.Core.Web.Helpers
@model PEngineGenericListModel<PostModel>

<div class="display-container">
  @if (Rendering.LogoEnabled)
  {
    <div class="logo-container">
        <img src="@Html.ContentHashFile(Rendering.LogoPath, true)" alt="logo" />
    </div>
  }
  @if (!Model.Settings.DisableQuotes)
  {
    <div class="quote-control">
        <a id="pengine-button-quote-show" onclick="window.showQuote()">[@Model.Settings.LabelQuoteButton]</a>
        <div id="quote-text" class="quoted-text">
          @Html.Raw(Model.State.QuoteText)
        </div>
    </div>
  }
</div>
@foreach (var (post, index) in Model.ListData.WithIndex())
{
  @Html.Raw(Rendering.MarkupSubheader(Html.RouteLink(post.Name, new { controller = "post", action = "view", year = post.CreatedUTC.Value.Year, month = post.CreatedUTC.Value.Month, uniqueName = post.UniqueName }, new { @class = "invisible-link" }).RelativeHref().GetString(), false))
  if (Model.State.HasAdmin)
  {
    <div class="panel">
      <div class="panel-right">
        <a class="list-button post_view_button_edit" data-guid="@post.Guid">[Edit]</a>
      </div>
    </div>
  }
  <div class="@(Rendering.SummaryModeFront ? "list-container summary-mode" : "list-container")">
    @if (!string.IsNullOrEmpty(post.IconFileName))
    {
      @Html.Raw(Rendering.MarkupIcon(post.IconFileName))
    }
    <p class="datetime-display" data-epoch="@Rendering.FormatDateForJavascript(post.CreatedUTC)">@post.CreatedUTC</p>
    @Html.Raw(Rendering.MarkupArticle(post.Data, false, true))
    @if (Rendering.SummaryModeFront)
    {
      <form class="summary-footer" method="get" action="@($"/post/view/{post.CreatedUTC.Value.Year}/{post.CreatedUTC.Value.Month}/{post.UniqueName}")">
        <button type="submit" class="pengine-button-search">
          @Model.Settings.LabelReadTheRestButton
        </button>
      </form>
    }
  </div>
}
<div class="panel">
  <div class="panel-right">
    @Html.ActionLink($"[{Model.Settings.LabelArchivedPostsButton}]", "list", "post").RelativeHref()
  </div>
</div>