@using PEngine.Core.Shared.Models
@using PEngine.Core.Shared
@using PEngine.Core.Web.Models
@using PEngine.Core.Web
@using PEngine.Core.Web.Helpers
@model PEngineGenericListModel<PostModel>

<div class="display-container">
  @if (Rendering.LogoEnabled)
  {
    <div class="logo-container">
        <img src="@Html.ContentHashFile(Rendering.LogoPath, true)" alt="logo" />
    </div>
  }
  @if (!Model.Settings.DisableQuotes)
  {
    <div class="quote-control">
        <a id="pengine-button-quote-show" href="javascript:void(0)" onclick="window.showQuote()">[@Model.Settings.LabelQuoteButton]</a>
        <div id="quote-text" class="quoted-text">
          @Html.Raw(Model.State.QuoteText)
        </div>
    </div>
  }
</div>
@foreach (var (post, index) in Model.ListData.WithIndex())
{
  @Html.Raw(Rendering.MarkupSubheader(Html.RouteLink(post.Name, new { controller = "post", action = "view", year = post.CreatedUTC.Value.Year, month = post.CreatedUTC.Value.Month, uniqueName = post.UniqueName }, new { @class = "invisible-link" }).RelativeHref().GetString(), false))
  if (Model.State.HasAdmin)
  {
    <div class="panel">
      <div class="panel-right">
        <a href="javascript:void(0)" class="list-button post_view_button_edit" data-guid="@post.Guid">[Edit]</a>
      </div>
    </div>
  }
  <div class="list-container">
    @if (!string.IsNullOrEmpty(post.IconFileName))
    {
      @Html.Raw(Rendering.MarkupIcon(post.IconFileName))
    }
    <span class="datetime-display" data-epoch="@Rendering.FormatDateForJavascript(post.CreatedUTC)">@post.CreatedUTC</span>
    <br />
    @Html.Raw(Rendering.MarkupArticle(post.Data, false, true))
    @if (Rendering.SummaryModeFront)
    {
    <p>
      ...
    </p>
    }
    <div class="panel">
      @if (Rendering.SummaryModeFront)
      {
      <div class="panel-left panel-half">
        @Html.Raw(Html.RouteLink("[" + Model.Settings.LabelReadTheRestButton + "]", new { controller = "post", action = "view", year = post.CreatedUTC.Value.Year, month = post.CreatedUTC.Value.Month, uniqueName = post.UniqueName }, new { @class = "list-button post_view_button_read" }).RelativeHref().GetString())
      </div>
        if (index == Model.ListData.Count() - 1)
        {
      <div class="panel-right panel-half">
        @Html.ActionLink($"[{Model.Settings.LabelArchivedPostsButton}]", "list", "post").RelativeHref()
      </div>
        }
      } else if (index == Model.ListData.Count() - 1) {
      <div class="panel-right">
        @Html.ActionLink($"[{Model.Settings.LabelArchivedPostsButton}]", "list", "post").RelativeHref()
      </div>
      }
    </div>
  </div>
}
<div class="panel">
  
</div>