@using PEngine.Core.Shared.Models
@using PEngine.Core.Web.Models
@using PEngine.Core.Web
@using PEngine.Core.Web.Helpers
@model PEngineGenericListModel<ArticleModel>

@{
    int i = 0;
}

<div class="list-container">
  <span class="form-header-text">@Model.State.FullTitle</span>
  <table class="list-table" cellspacing="0" border="1">
    <thead>
      <tr>
        <th>
          @Html.PEPagerLinkWithText("Title", "category", "Name", Model.Paging)
        </th>
        <th>
          @Html.PEPagerLinkWithText("When", "category", "CreatedUTC", Model.Paging)
        </th>
        <th>
          @Html.PEPagerLinkWithText("Description", "category", "Description", Model.Paging)
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ListData)
    {
      <tr class='@((i++)%2==0 ? "listrow" : "listrowalt")'>
        <td>@item.Name</td>
        @if (item.CreatedUTC.HasValue)
        {
        <td nowrap="1" class="datetime-display">@Rendering.FormatDate(item.CreatedUTC)</td>
        }
        else
        {
        <td nowrap="1">N/A</td>
        }
        <td>@item.Description</td>
        <td nowrap="1">
          @Html.RouteLink("[View]", new { controller = "article", action = "view", id = item.UniqueName }, new { @class = "list-button" })
          @if (Model.State.HasAdmin)
          {
            @Html.Raw("&nbsp;|&nbsp;")
            <a href="#" class="list-button article_view_button_edit" data-guid="@item.Guid">[Edit]</a>
          }
        </td>
      </tr>
    }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          @Html.PEPager(Model.Paging, new { @class = "list-button" }, "category")
        </td>
      </tr>
    </tfoot>
  </table>    
</div>