@using PEngine.Core.Shared.Models
@using PEngine.Core.Web.Models
@using PEngine.Core.Web
@using PEngine.Core.Web.Helpers
@model PEngineGenericListModel<ArticleModel>

@{
    int articleIndex = 0;
}

<div class="list-container">
  <span class="form-header-text">@Model.State.FullTitle</span>
  <table class="list-table" cellspacing="0" border="1">
    <thead>
      <tr>
        <th>
          @Html.PEPagerLinkWithText("Title", "category", "Name", Model.Paging)
        </th>
        <th>
          @Html.PEPagerLinkWithText("When", "category", "CreatedUTC", Model.Paging)
        </th>
        <th>
          @Html.PEPagerLinkWithText("Description", "category", "Description", Model.Paging)
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ListData)
    {
      <tr class='@((articleIndex++) % 2 == 0 ? "listrow" : "listrowalt")'>
        <td>
          @Html.RouteLink(item.Name, new { controller = "article", action = "ViewArticle", uniqueName = item.UniqueName }, new { @class = "invisible-link" }).AbsoluteHref()
        </td>
        @if (item.CreatedUTC.HasValue)
        {
        <td nowrap class="datetime-display" data-epoch="@Rendering.FormatDateForJavascript(item.CreatedUTC)">@Rendering.FormatDate(item.CreatedUTC)</td>
        }
        else
        {
        <td nowrap>N/A</td>
        }
        <td>@item.Description</td>
        <td nowrap>
          @Html.RouteLink("[View]", new { controller = "article", action = "ViewArticle", uniqueName = item.UniqueName }, new { @class = "list-button" }).AbsoluteHref()
          @if (Model.State.HasAdmin)
          {
            @Html.Raw("&nbsp;|&nbsp;")
            <a class="list-button article_view_button_edit" data-guid="@item.Guid">[Edit]</a>
          }
        </td>
      </tr>
    }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          @Html.PEPager(Model.Paging, new { @class = "list-button" }, "category")
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="panel">
    <div class="panel-left">
      <a href="@Model.Settings.ExternalBaseUrl" class="list-button post_view_button_back_to_home">
        [
          @Model.Settings.LabelBackToHomeButton
        ]
      </a>
    </div>    
  </div>  
</div>