@using PEngine.Core.Web.Models
@using PEngine.Core.Web
@using PEngine.Core.Web.Helpers
<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.State.FullTitle</title>
    <link rel="alternate" type="application/rss+xml" title="Posts Feed" href="/feed/rss" />
    @RenderSection("head", required: false)
    @if (Model.State.HasSummary)
    {
    <meta property="og:title" content="@Model.State.SummaryTitle" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@Model.State.SummaryUrl" />
    <meta property="og:image" content="@Model.State.SummaryImage" />
    <meta property="og:site_name" content="@Model.State.SummarySite" />
    <meta property="og:description" content="@Model.State.SummaryDescription" />
      if (!string.IsNullOrWhiteSpace(Model.Settings.TwitterCardSite))
      {
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Model.Settings.TwitterCardSite" />
    <meta name="twitter:title" content="@Model.State.SummaryTitle" />
    <meta name="twitter:description" content="@Model.State.SummaryDescription" />
    <meta name="twitter:image" content="@Model.State.SummaryImage" />
      }
    }
    <link rel="stylesheet" type="text/css" href="@Html.ContentHashFile("styles/pengine.core.css")"> 
    <link rel="stylesheet" type="text/css" href="@Html.ContentHashFile((string)Model.State.ThemePath)"> 
  </head>
  <body>
    @if (!string.IsNullOrEmpty(Model.State.PEngineUserName))
    {
    <div id="pengine-header"></div>
    <div id="pengine-editor"></div>
    <div id="pengine-uploader"></div>
    }
    else
    {
    <div class="panel">
      <div class="panel-left">
        @if (!Model.Settings.DisableThemeSelection) {
        <form id="theme" method="GET" action="/ui/theme">
          <select name="selection" onchange="this.form.submit()">
            @foreach (var theme in Model.State.ThemeList)
            {
              if (theme.Equals(Model.State.Theme, StringComparison.OrdinalIgnoreCase))
              {
                <option value="@theme" selected>@theme</option>
              }
              else
              {
                <option value="@theme">@theme</option>
              }
            }
          </select>
          <button type="submit" id="themeSubmit">Change</button>
        </form>
        }
      </div>
      <div class="panel-right">
        <form method="get" action="@Model.State.LoginUrl">
          <button type="submit" class="pengine-button-search">@Model.State.LoginText</button>
        </form>
      </div>
    </div>
    }
    <div class="page">
      <div class="page-left"></div>
      <div class="header">
        <div class="header-left">
        </div>
        <div class="header-middle">
          @Model.Settings.DefaultTitle
        </div>
        <div class="header-right">
        </div>
      </div>
      <div class="content-menu">
        <div class="menu">
          @foreach (var menuButton in Model.State.TopMenuButtons)
          {
            @Html.Raw(Rendering.MarkupMenuButton(menuButton.Key, menuButton.Value))
          }
          @if (Model.State.SubMenuButtons.Count > 0)
          {
            <div class="menu-separator"></div>
            foreach (var menuButton in Model.State.SubMenuButtons)
            {
              @Html.Raw(Rendering.MarkupMenuButton(menuButton.Key, menuButton.Value))
            }
          }
        </div>
        <div class="content">
          @RenderBody()
        </div>
      </div>
      <div class="footer">
        <div class="footer-left"></div>
        <div class="footer-middle"></div>
        <div class="footer-right"></div>
      </div>
      <div class="panel">
        <div class="panel-center">
          @if (!Model.Settings.DisableSearch)
          {
          <form method="get" action="/search">
            <span class="buttonrowlabel">Search:</span>
            <input type="text" class="pengine-search-query edit-control-large" name="query" />
            <button type="submit" class="pengine-button-search">Find</button>
          </form>
          }
          @if (!Model.Settings.DisableRSS)
          {
          @Html.Raw("&nbsp;")
          <a href="/feed/rss" class="list-button">[Rss]</a>
          }
          @if (!string.IsNullOrWhiteSpace(Model.Settings.OwnerEmail))
          {
          @Html.Raw("&nbsp;")
          <a href="mailto:@Model.Settings.OwnerEmail" class="list-button">[Email]</a>
          }
        </div>
      </div>
      <div class="page-right"></div>
    </div>
    @if(!string.IsNullOrEmpty(Model.State.PEngineUserName))
    {
    <script type="text/javascript">
      window.pengineState = @Html.Raw(Model.State.Json());
    </script>
    <script src="@Html.ContentHashFile("dist/pengine.core.web.3rdparty.min.js")"></script>
    <script src="@Html.ContentHashFile("dist/pengine.core.web.main.min.js")"></script>
    }
    <script src="@Html.ContentHashFile("dist/pengine.core.web.sitewide.min.js")"></script>
    @RenderSection("scripts", required: false)
  </body>
</html>
