@using PEngine.Core.Web.Models
@using PEngine.Core.Web

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- TODO Add Correct Page Title Below -->
    <title>@Model.State.FullTitle</title>
    <!-- TODO Add RSS Link Here -->
    @RenderSection("head", required: false)
    <!-- TODO Add Meta Properties Summarizing Page Here -->
    <link rel="stylesheet" type="text/css" href="@Html.ContentHashFile((string)Model.State.ThemePath)"> 
  </head>
  <body>
    <!-- TODO Add Header Bar Here -->
    <div class="page">
      <div class="page-left"></div>
      <div class="header">
        <div class="header-left">
        </div>
        <div class="header-middle">
          <!-- TODO Add Header Text Here -->
          @Model.Settings.DefaultTitle
        </div>
        <div class="header-right">
        </div>
      </div>
      <div class="content-menu">
        <div class="menu">
          <!-- TODO Add Menu Button Markup Here -->
        </div>
        <div class="content">
          @RenderBody()
        </div>
      </div>
      <div class="footer">
        <div class="footer-left"></div>
        <div class="footer-middle"></div>
        <div class="footer-right"></div>
      </div>
      <!-- TODO Add Footer Bar Here -->
      <div class="page-right"></div>
    </div>
    <script src="@Html.ContentHashFile("dist/app.bundle.min.js")"></script>
  </body>
</html>
