@using PEngine.Core.Shared.Models
@using PEngine.Core.Web.Models
@using PEngine.Core.Web
@using PEngine.Core.Web.Helpers
@model PEngineGenericListModel<PostModel>

@{
    int i = 0;
}

<div class="list-container">
  <span class="form-header-text">@Model.State.FullTitle</span>
  <table class="list-table" cellspacing="0" border="1">
    <thead>
      <tr>
        <th>
          @Html.PEPagerLinkWithText("Title", "list", "Name", Model.Paging)
        </th>
        <th>
          @Html.PEPagerLinkWithText("When", "list", "CreatedUTC", Model.Paging)
        </th>
        <th>What</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ListData)
    {
      <tr class='@((i++)%2!=0 ? "alt" : string.Empty)'>
        <td>@item.Name</td>
        @if (item.CreatedUTC.HasValue)
        {
        <td nowrap="1" class="datetime-display" data-epoch="@Rendering.FormatDateForJavascript(item.CreatedUTC)">@Rendering.FormatDate(item.CreatedUTC)</td>
        }
        else
        {
        <td nowrap="1">N/A</td>
        }
        <td>@Rendering.DataTruncate(item.Data)</td>
        <td nowrap="1">
          @Html.RouteLink("[View]", new { controller = "post", action = "view", year = item.CreatedUTC.Value.Year, month = item.CreatedUTC.Value.Month, uniqueName = item.UniqueName }, new { @class = "list-button" })
          @if (Model.State.HasAdmin)
          {
            @Html.Raw("&nbsp;|&nbsp;")
            <a href="javascript:void" class="list-button post_view_button_edit" data-guid="@item.Guid">[Edit]</a>
          }
        </td>
      </tr>
    }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          @Html.PEPager(Model.Paging, new { @class = "list-button" }, "list")
        </td>
      </tr>
    </tfoot>
  </table>    
</div>