@using PEngine.Core.Shared.Models
@using PEngine.Core.Web.Models
@using PEngine.Core.Web
@using PEngine.Core.Web.Helpers
@model PEngineGenericRecordModel<PostModel>

@{
  var post = Model.RecordData;
}
<div class="display-container">
  @if (Rendering.LogoEnabled)
  {
    <div class="logo-container">
        <img src="@Rendering.LogoPath" alt="logo" />
    </div>
  }
  @if (!Model.Settings.DisableQuotes)
  {
    <div class="quote-control">
        <!-- TODO Add Quote Text Here -->
    </div>
  }
</div>
@Html.Raw(Rendering.MarkupSubheader(post.Name))
@if (Model.State.HasAdmin)
{
  <div class="panel">
    <div class="panel-right">
      <a href="#" class="list-button post_view_button_edit" data-guid="@post.Guid">[Edit]</a>
    </div>
  </div>
}
<div class="list-container">
  @if (!string.IsNullOrEmpty(post.IconFileName))
  {
    @Html.Raw(Rendering.MarkupIcon(post.IconFileName))
  }
  <span class="datetime-display" data-epoch="@Rendering.FormatDateForJavascript(post.CreatedUTC)">
    @post.CreatedUTC
  </span>
  <br />
  @Html.Raw(Rendering.MarkupArticle(post.Data, false))
</div>
<div class="panel">
  <div class="panel-right">
    @Html.ActionLink("[Archived Posts]", "list")
  </div>
</div>